@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Smartsniff - Chart</title>
    <!-- jquery -->
    <script type="text/javascript" src="~/js/jquery-3.1.0.min.js"></script>
    <!-- fusioncharts -->
    <script type="text/javascript" src="~/js/fusioncharts.js"></script>
    <script type="text/javascript" src="~/js/fusioncharts.charts.js"></script>
    <script type="text/javascript" src="~/js/fusioncharts-jquery-plugin.min.js"></script>
    <!-- moment.js -->
    <script type="text/javascript" src="~/js/moment-with-locales.js"></script>
</head>
<body>
    <div id="chart-container">
        No data to display
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            var urlData = window.location.hash;
            urlData = urlData.substring(1);

            var parameters = urlData.split('_');

            var date = parameters[0].split('/');
            var from = date[0].substring(0, 10);
            var to = date[1].substring(0, 10);

            //Reorganize strings
            var fromTokens = from.split('-');
            from = fromTokens[2] + "/" + fromTokens[1] + "/" + fromTokens[0];

            var toTokens = to.split('-');
            to = toTokens[2] + "/" + toTokens[1] + "/" + toTokens[0];

            //Subcaption check (Same Day case)
            var isSameDay = parameters[1];
            var subCaption = isSameDay == "false" ? from + " - " + to : to;

            $.getJSON("/api/db/getstatisticsdata/" + date[0] + "/" + date[1], function (json, status) {
                if (status == "success") {
                    $("#chart-container").insertFusionCharts({
                        id: 'manufacturers-chart',
                        type: 'doughnut2d',
                        renderAt: 'chart-container',
                        width: '700',
                        height: '700',
                        dataFormat: 'json',
                        dataSource: {
                            "chart": {
                                "caption": "Found devices by manufacturer",
                                "subCaption": subCaption,
                                "usePlotGradientColor": 1,
                                "plotGradientColor": "#ffffff",
                                "bgColor": "#ffffff",
                                "showBorder": "0",
                                "use3DLighting": "0",
                                "showShadow": "0",
                                "enableSmartLabels": "1",
                                "startingAngle": "310",
                                "showLabels": "0",
                                "showValues": "0",
                                "showPercentValues": "1",
                                "showLegend": "1",
                                "legendShadow": "1",
                                "legendBorderAlpha": "1",
                                "centerLabel": "$label: $value",
                                "centerLabelBold": "1",
                                "showTooltip": "0",
                                "decimals": "0",
                                "captionFontSize": "14",
                                "subcaptionFontSize": "14",
                                "subcaptionFontBold": "0"
                            },
                            "data": json[0]['statDataArray']
                        }
                    });
                }
            })
        })
    </script>
</body>
</html>