@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title> SmartSniff - Statistics</title>
    <!-- jquery -->
    <script type="text/javascript" src="~/js/jquery-3.1.0.min.js"></script>
    <!-- fusioncharts -->
    <script type="text/javascript" src="~/js/fusioncharts.js"></script>
    <script type="text/javascript" src="~/js/fusioncharts.charts.js"></script>
    <script type="text/javascript" src="~/js/fusioncharts-jquery-plugin.min.js"></script>
    <!-- css stylesheet -->
    <link rel="stylesheet" type="text/css" href="~/css/main.css" />
    <!-- google web font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css" />
    <!-- moment.js -->
    <script type="text/javascript" src="~/js/moment-with-locales.js"></script>
    <!-- daterangepicker css -->
    <link rel="stylesheet" type="text/css" href="~/css/daterangepicker.css" />
    <!-- daterangepicker js -->
    <script type="text/javascript" src="~/js/daterangepicker.js"></script>

    <script type="text/javascript">
        window.date = "";
    </script>
</head>
<body>
    <div id="navbar-container">
        <ul class="navbar">
            <li class="left"><a>SmartSniff</a></li>
            <li class="right"><a class="active" href="~/home/stats">Statistics</a></li>
            <li class="right"><a href="~/">Heatmap</a></li>
        </ul>
    </div>

    <div id="stats-container">
        <h2 style="text-align: center;">Statistics</h2>
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td>Number of contributing devices</td>
                    <td id="data-contributors"></td>
                </tr>
                <tr>
                    <td>Number of registered sessions</td>
                    <td id="data-sessions"></td>
                </tr>
                <tr>
                    <td>Number of registered locations</td>
                    <td id="data-locations"></td>
                </tr>
                <tr>
                    <td>Number of registered devices</td>
                    <td id="data-devices-total"></td>
                </tr>
                <tr>
                    <td>Number of registered wifi devices (AP)</td>
                    <td id="data-devices-wifi"></td>
                </tr>
                <tr>
                    <td>Number of registered bluetooth devices</td>
                    <td id="data-devices-bluetooth"></td>
                </tr>
            </tbody>
        </table>

        <hr />

        <div id="datepicker">
            <h2 style="text-align: center;">Charts</h2>
            <a id="datepicker-intro">
                The date picker will display charts with data as soon as a time range is selected. In order to select it, please click on the input box below.
            </a>
            <br />
            <br />
            <b id="datepicker-text">Please select a time range</b>
            <input type="text" name="daterange" />
            <script type="text/javascript">
            $(function () {
                $('input[name="daterange"]').daterangepicker({
                    "autoUpdateInput": false,
                    "locale": {
                        "format": "DD/MM/YYYY",
                        "separator": " - ",
                        "applyLabel": "Apply",
                        "cancelLabel": "Cancel",
                        "fromLabel": "From",
                        "toLabel": "To",
                        "customRangeLabel": "Custom",
                        "weekLabel": "W",
                        "daysOfWeek": [
                            "Su",
                            "Mo",
                            "Tu",
                            "We",
                            "Th",
                            "Fr",
                            "Sa"
                        ],
                        "monthNames": [
                            "January",
                            "February",
                            "March",
                            "April",
                            "May",
                            "June",
                            "July",
                            "August",
                            "September",
                            "October",
                            "November",
                            "December"
                        ],
                        "firstDay": 1
                    },
                    "showCustomRangeLabel": false,
                    "alwaysShowCalendars": true
                }, function (start, end, label) {
                    //Apply button pressed

                    //Display check
                    if (!$(".flip-dates").is(":visible")) {
                        $("#datepicker-text").html($("#datepicker-text").html().replace("Please select a time", "Time"));
                        $(".flip-dates").toggle();
                        $(".flip-manufacturer").toggle();
                        $(".flip-channelWidth").toggle();
                        $(".flip-frequencies").toggle();
                        $(".flip-bluetooth").toggle();
                    };

                    // GET: api/db/getstatisticsdata/01-02-1234/01-02-5678
                    window.date = start.toISOString() + "/" + end.toISOString();
                    /*$.getJSON("/api/db/getstatisticsdata/" + window.date, function (json, status) {
                        if (status == "success") {
                            var manufacturerChart = FusionCharts('manufacturer-chart');
                            manufacturerChart.setJSONData({
                                "chart": {
                                    "caption": "Found devices by manufacturer",
                                    "subCaption": start.format("DD/MM/YYYY").toString() + " - " + end.format("DD/MM/YYYY").toString(),
                                    "usePlotGradientColor": 1,
                                    "plotGradientColor": "#ffffff",
                                    "bgColor": "#ffffff",
                                    "showBorder": "1",
                                    "use3DLighting": "0",
                                    "showShadow": "0",
                                    "enableSmartLabels": "1",
                                    "startingAngle": "310",
                                    "showLabels": "0",
                                    "showPercentValues": "1",
                                    "showLegend": "1",
                                    "legendShadow": "1",
                                    "legendBorderAlpha": "1",
                                    "centerLabel": "$label: $value",
                                    "centerLabelBold": "1",
                                    "showTooltip": "0",
                                    "decimals": "0",
                                    "captionFontSize": "14",
                                    "subcaptionFontSize": "14",
                                    "subcaptionFontBold": "0"
                                },
                                "data": json[0]['statDataArray']
                            });
                            window.JSONdata[0] = manufacturerChart.getJSONData();

                            var channelWidthChart = FusionCharts('channelWidth-chart');
                            channelWidthChart.setJSONData({
                                "chart": {
                                    "caption": "Most commonly used channel width",
                                    "subCaption": start.format("DD/MM/YYYY").toString() + " - " + end.format("DD/MM/YYYY").toString(),
                                    "usePlotGradientColor": 1,
                                    "plotGradientColor": "#ffffff",
                                    "bgColor": "#ffffff",
                                    "showBorder": "1",
                                    "use3DLighting": "0",
                                    "showShadow": "0",
                                    "enableSmartLabels": "1",
                                    "startingAngle": "310",
                                    "showLabels": "1",
                                    "showPercentValues": "1",
                                    "showLegend": "1",
                                    "legendShadow": "1",
                                    "legendBorderAlpha": "1",
                                    "centerLabel": "$label: $value",
                                    "centerLabelBold": "1",
                                    "showTooltip": "0",
                                    "decimals": "0",
                                    "captionFontSize": "14",
                                    "subcaptionFontSize": "14",
                                    "subcaptionFontBold": "0"
                                },
                                "data": json[1]['statDataArray']
                            });
                            window.JSONdata[1] = channelWidthChart.getJSONData();

                            var frequenciesChart = FusionCharts('frequencies-chart');
                            frequenciesChart.setJSONData({
                                "chart": {
                                    "caption": "Most commonly used frequency band",
                                    "subCaption": start.format("DD/MM/YYYY").toString() + " - " + end.format("DD/MM/YYYY").toString(),
                                    "usePlotGradientColor": 1,
                                    "plotGradientColor": "#ffffff",
                                    "bgColor": "#ffffff",
                                    "showBorder": "1",
                                    "use3DLighting": "0",
                                    "showShadow": "0",
                                    "enableSmartLabels": "1",
                                    "startingAngle": "310",
                                    "showLabels": "0",
                                    "showPercentValues": "1",
                                    "showLegend": "1",
                                    "legendShadow": "1",
                                    "legendBorderAlpha": "1",
                                    "centerLabel": "$label: $value",
                                    "centerLabelBold": "1",
                                    "showTooltip": "0",
                                    "decimals": "0",
                                    "captionFontSize": "14",
                                    "subcaptionFontSize": "14",
                                    "subcaptionFontBold": "0"
                                },
                                "data": json[2]['statDataArray']
                            });
                            window.JSONdata[2] = frequenciesChart.getJSONData();

                            var datesChart = FusionCharts('dates-chart');
                            datesChart.setJSONData({
                                "chart": {
                                    "caption": "Daily devices detected",
                                    "subCaption": start.format("DD/MM/YYYY").toString() + " - " + end.format("DD/MM/YYYY").toString(),
                                    "yAxisName": "Number of devices",
                                    "paletteColors": "#0075c2",
                                    "bgColor": "#ffffff",
                                    "showBorder": "1",
                                    "showCanvasBorder": "1",
                                    "usePlotGradientColor": "0",
                                    "plotBorderAlpha": "10",
                                    "placeValuesInside": "1",
                                    "valueFontColor": "#ffffff",
                                    "showAxisLines": "1",
                                    "axisLineAlpha": "25",
                                    "divLineAlpha": "10",
                                    "alignCaptionWithCanvas": "0",
                                    "showAlternateVGridColor": "0",
                                    "captionFontSize": "14",
                                    "subcaptionFontSize": "14",
                                    "subcaptionFontBold": "0",
                                    "toolTipColor": "#ffffff",
                                    "toolTipBorderThickness": "0",
                                    "toolTipBgColor": "#000000",
                                    "toolTipBgAlpha": "80",
                                    "toolTipBorderRadius": "2",
                                    "toolTipPadding": "5"
                                },

                                "data": json[3]['statDataArray']
                            });
                            window.JSONdata[3] = datesChart.getJSONData();

                            var bluetoothChart = FusionCharts('bluetoothSubtypes-chart');
                            bluetoothChart.setJSONData({
                                "chart": {
                                    "caption": "Detected Bluetooth devices by type",
                                    "subCaption": start.format("DD/MM/YYYY").toString() + " - " + end.format("DD/MM/YYYY").toString(),
                                    "usePlotGradientColor": 1,
                                    "plotGradientColor": "#ffffff",
                                    "bgColor": "#ffffff",
                                    "showBorder": "1",
                                    "use3DLighting": "0",
                                    "showShadow": "0",
                                    "enableSmartLabels": "1",
                                    "startingAngle": "310",
                                    "showLabels": "0",
                                    "showPercentValues": "1",
                                    "showLegend": "1",
                                    "legendShadow": "1",
                                    "legendBorderAlpha": "1",
                                    "centerLabel": "$label: $value",
                                    "centerLabelBold": "1",
                                    "showTooltip": "0",
                                    "decimals": "0",
                                    "captionFontSize": "14",
                                    "subcaptionFontSize": "14",
                                    "subcaptionFontBold": "0"
                                },
                                "data": json[4]['statDataArray']

                            });
                            window.JSONdata[4] = bluetoothChart.getJSONData();
                        }
                    });*/
                });  //NO TOCAR

                $('input[name="daterange"]').on('apply.daterangepicker', function (ev, picker) {
                    $(this).val(picker.startDate.format('DD/MM/YYYY') + ' - ' + picker.endDate.format('DD/MM/YYYY'));
                });

                $('input[name="daterange"]').on('cancel.daterangepicker', function (ev, picker) {
                    $(this).val('');
                });
            });
            </script>
        </div>

        <div class="flip-dates" style="width: 100%; text-align: center;
    vertical-align: middle;">    
            <button type="button" class="btn btn-lg btn-default custom-button" id="flip-dates-button">Display chart -  Daily devices detected</button>
        </div>
        <div id="dates-chart-container"></div>

        <div class="flip-manufacturer" style="width: 100%;">
            <button type="button" class="btn btn-lg btn-default custom-button" id="flip-manufacturer-button">Display chart -  Found devices by manufacturer</button>
        </div>
        <div id="manufacturer-chart-container"></div>

        <div class="flip-channelWidth" style="width: 100%;">
            <button type="button" class="btn btn-lg btn-default custom-button" id="flip-manufacturer-button">Display chart -  Most commonly used channel width</button>
        </div>
        <div id="channelWidth-chart-container"></div>

        <div class="flip-frequencies" style="width: 100%;">
            <button type="button" class="btn btn-lg btn-default custom-button" id="flip-frequencies-button">Display chart -  Most commonly used frequency band</button>
        </div>
        <div id="frequencies-chart-container"></div>

        <div class="flip-bluetooth" style="width: 100%;">
            <button type="button" class="btn btn-lg btn-default custom-button" id="flip-bluetooth-button">Display chart -  Detected Bluetooth devices by type</button>
        </div>
        <div id="bluetoothSubtypes-chart-container"></div>
    </div>


    <script>
        $(document).ready(function () {
            //Callback function (Chart button)
            var buttonCallback = function (a, buttonClass, divId, chartId) {
                a.preventDefault();

                //Open window with date variable stored in the URL
                //http://boards.straightdope.com/sdmb/showthread.php?t=594276
                window.open("displaydateschart#" + window.date);               
            };

            //Chart button functions
            $("#flip-dates-button").click(function (a) {
                buttonCallback(a, ".flip-dates", "#dates-chart-container", "dates-chart");
            });

            $("#flip-manufacturer-button").click(function (a) {
                buttonCallback(a, ".flip-manufacturer", "#manufacturer-chart-container", "manufacturer-chart");
            });

            $("#flip-channelWidth-button").click(function (a) {
                buttonCallback(a, ".flip-channelWidth", "#channelWidth-chart-container", "channelWidth-chart");
            });

            $("#flip-frequencies-button").click(function (a) {
                buttonCallback(a, ".flip-frequencies", "#frequencies-chart-container", "frequencies-chart");
            });

            $("#flip-bluetooth-button").click(function (a) {
                buttonCallback(a, ".flip-bluetooth", "#bluetoothSubtypes-chart-container", "bluetoothSubtypes-chart");
            });

            //Table data query
            $.ajax({
                url: '/api/db/gettabledata',
                type: 'GET',
                dataType: "json",
                cache: false //GET requests are cached by browsers
            }).done(function (response) {
                document.getElementById("data-contributors").innerHTML = JSON.stringify(response[0]);
                document.getElementById("data-sessions").innerHTML = JSON.stringify(response[1]);
                document.getElementById("data-locations").innerHTML = JSON.stringify(response[2]);
                document.getElementById("data-devices-total").innerHTML = JSON.stringify(response[3]);
                document.getElementById("data-devices-wifi").innerHTML = JSON.stringify(response[4]);
                document.getElementById("data-devices-bluetooth").innerHTML = JSON.stringify(response[5]);
            })


            /*var today = moment();
            var lastMonth = moment().subtract(1, 'M');
            $.ajax({
                url: '/api/db/getstatisticsdata/' + lastMonth.toISOString() + '/' + today.toISOString(),
                type: 'GET',
                dataType: "json",
                cache: false, //GET request are cached by browsers
            }).done(function (response) {
                var i;
                var j;

                for (i = 0; i < response.length; i++) {
                    var data = response[i];

                    for (j = 0; j < data.statDataArray.length; j++) {
                        var entry = {
                            label: data.statDataArray[j].label,
                            value: data.statDataArray[j].value
                        }

                        if (i == 0) manufacturerData.push(entry);
                        else if (i == 1) channelWidthData.push(entry);
                        else if (i == 2) frequenciesData.push(entry);
                        else if (i == 3) datesData.push(entry);
                        else if (i == 4) bluetoothSubtypesData.push(entry);
                    }
                }

                $("#manufacturer-chart-container").insertFusionCharts({
                    id: 'manufacturer-chart',
                    type: 'doughnut2d',
                    renderAt: 'chart-container',
                    width: '700',
                    height: '700',
                    dataFormat: 'json',
                    dataSource: {
                        "chart": {
                            "caption": "Found devices by manufacturer",
                            "subCaption": lastMonth.format("DD/MM/YYYY").toString() + " - " + today.format("DD/MM/YYYY").toString(),
                            "usePlotGradientColor": 1,
                            "plotGradientColor": "#ffffff",
                            "bgColor": "#ffffff",
                            "showBorder": "1",
                            "use3DLighting": "0",
                            "showShadow": "0",
                            "enableSmartLabels": "1",
                            "startingAngle": "310",
                            "showLabels": "0",
                            "showPercentValues": "1",
                            "showLegend": "1",
                            "legendShadow": "1",
                            "legendBorderAlpha": "1",
                            "centerLabel": "$label: $value",
                            "centerLabelBold": "1",
                            "showTooltip": "0",
                            "decimals": "0",
                            "captionFontSize": "14",
                            "subcaptionFontSize": "14",
                            "subcaptionFontBold": "0"
                        }
                        //"data": manufacturerData
                    }
                });

                $("#channelWidth-chart-container").insertFusionCharts({
                    id: 'channelWidth-chart',
                    type: 'doughnut2d',
                    renderAt: 'chart-container',
                    width: '700',
                    height: '700',
                    dataFormat: 'json',
                    dataSource: {
                        "chart": {
                            "caption": "Most commonly used channel width",
                            "subCaption": lastMonth.format("DD/MM/YYYY").toString() + " - " + today.format("DD/MM/YYYY").toString(),
                            "usePlotGradientColor": 1,
                            "plotGradientColor": "#ffffff",
                            "bgColor": "#ffffff",
                            "showBorder": "1",
                            "use3DLighting": "0",
                            "showShadow": "0",
                            "enableSmartLabels": "1",
                            "startingAngle": "310",
                            "showLabels": "1",
                            "showPercentValues": "1",
                            "showLegend": "1",
                            "legendShadow": "1",
                            "legendBorderAlpha": "1",
                            "centerLabel": "$label: $value",
                            "centerLabelBold": "1",
                            "showTooltip": "0",
                            "decimals": "0",
                            "captionFontSize": "14",
                            "subcaptionFontSize": "14",
                            "subcaptionFontBold": "0"
                        }
                        //"data": channelWidthData
                    }
                });

                $("#frequencies-chart-container").insertFusionCharts({
                    id: 'frequencies-chart',
                    type: 'doughnut2d',
                    renderAt: 'chart-container',
                    width: '700',
                    height: '700',
                    dataFormat: 'json',
                    dataSource: {
                        "chart": {
                            "caption": "Most commonly used frequency band",
                            "subCaption": lastMonth.format("DD/MM/YYYY").toString() + " - " + today.format("DD/MM/YYYY").toString(),
                            "usePlotGradientColor": 1,
                            "plotGradientColor": "#ffffff",
                            "bgColor": "#ffffff",
                            "showBorder": "1",
                            "use3DLighting": "0",
                            "showShadow": "0",
                            "enableSmartLabels": "1",
                            "startingAngle": "310",
                            "showLabels": "0",
                            "showPercentValues": "1",
                            "showLegend": "1",
                            "legendShadow": "1",
                            "legendBorderAlpha": "1",
                            "centerLabel": "$label: $value",
                            "centerLabelBold": "1",
                            "showTooltip": "0",
                            "decimals": "0",
                            "captionFontSize": "14",
                            "subcaptionFontSize": "14",
                            "subcaptionFontBold": "0"
                        }
                        //"data": frequenciesData
                    }
                });

                $("#dates-chart-container").insertFusionCharts({
                    id: 'dates-chart',
                    type: 'bar2d',
                    renderAt: 'chart-container',
                    width: '700',
                    height: '700',
                    dataFormat: 'json',
                    dataSource: {
                        "chart": {
                            "caption": "Daily devices detected",
                            "subCaption": lastMonth.format("DD/MM/YYYY").toString() + " - " + today.format("DD/MM/YYYY").toString(),
                            "yAxisName": "Number of devices",
                            "paletteColors": "#0075c2",
                            "bgColor": "#ffffff",
                            "showBorder": "1",
                            "showCanvasBorder": "1",
                            "usePlotGradientColor": "0",
                            "plotBorderAlpha": "10",
                            "placeValuesInside": "1",
                            "valueFontColor": "#ffffff",
                            "showAxisLines": "1",
                            "axisLineAlpha": "25",
                            "divLineAlpha": "10",
                            "alignCaptionWithCanvas": "0",
                            "showAlternateVGridColor": "0",
                            "captionFontSize": "14",
                            "subcaptionFontSize": "14",
                            "subcaptionFontBold": "0",
                            "toolTipColor": "#ffffff",
                            "toolTipBorderThickness": "0",
                            "toolTipBgColor": "#000000",
                            "toolTipBgAlpha": "80",
                            "toolTipBorderRadius": "2",
                            "toolTipPadding": "5"
                        }
                        //"data": datesData
                    }
                });

                $("#bluetoothSubtypes-chart-container").insertFusionCharts({
                    id: 'bluetoothSubtypes-chart',
                    type: 'doughnut2d',
                    renderAt: 'chart-container',
                    width: '700',
                    height: '700',
                    dataFormat: 'json',
                    dataSource: {
                        "chart": {
                            "caption": "Detected Bluetooth devices by type",
                            "subCaption": lastMonth.format("DD/MM/YYYY").toString() + " - " + today.format("DD/MM/YYYY").toString(),
                            "usePlotGradientColor": 1,
                            "plotGradientColor": "#ffffff",
                            "bgColor": "#ffffff",
                            "showBorder": "1",
                            "use3DLighting": "0",
                            "showShadow": "0",
                            "enableSmartLabels": "1",
                            "startingAngle": "310",
                            "showLabels": "0",
                            "showPercentValues": "1",
                            "showLegend": "1",
                            "legendShadow": "1",
                            "legendBorderAlpha": "1",
                            "centerLabel": "$label: $value",
                            "centerLabelBold": "1",
                            "showTooltip": "0",
                            "decimals": "0",
                            "captionFontSize": "14",
                            "subcaptionFontSize": "14",
                            "subcaptionFontBold": "0"
                        }
                        //"data": bluetoothSubtypesData
                    }
                });
            });*/
        })
    </script>
</body>
</html>