@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title> SmartSniff - Statistics</title>
    <script type="text/javascript" src="~/js/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="~/js/fusioncharts.js"></script>
    <script type="text/javascript" src="~/js/fusioncharts.charts.js"></script>
    <script type="text/javascript" src="~/js/fusioncharts-jquery-plugin.min.js"></script>
</head>
<body>
    <div id="manufacturer-chart-container"></div>
    <div id="channelWidth-chart-container"></div>
    <div id="frequencies-chart-container"></div>

    <script>
        //Heatmap points object
        var manufacturerData = [];
        var channelWidthData = [];
        var frequenciesData = [];

        $(document).ready(function () {
            $.ajax({
                url: 'http://localhost:5001/api/db/getstatisticsdata',
                type: 'GET',
                dataType: "json",
                cache: false, //GET request are cached by browsers
            }).done(function (response) {
                var i;
                var j;

                for (i = 0; i < response.length; i++) {
                    var data = response[i];
                    
                    for (j = 0; j < data.statDataArray.length; j++) {
                        var entry = {
                            label: data.statDataArray[j].label,
                            value: data.statDataArray[j].value
                        }

                        if (i == 0) manufacturerData.push(entry);
                        else if (i == 1) channelWidthData.push(entry);
                        else if (i == 2) frequenciesData.push(entry);
                    }
                }

                $("#manufacturer-chart-container").insertFusionCharts({
                    type: 'doughnut2d',
                    renderAt: 'manufacturer-chart-container',
                    width: '700',
                    height: '700',
                    dataFormat: 'json',
                    dataSource: {
                        "chart": {
                            "caption": "Found devices by manufacturer",
                            "subCaption": "All data",
                            "usePlotGradientColor": 1,
                            "plotGradientColor": "#ffffff",
                            "bgColor": "#ffffff",
                            "showBorder": "1",
                            "use3DLighting": "0",
                            "showShadow": "0",
                            "enableSmartLabels": "1",
                            "startingAngle": "310",
                            "showLabels": "0",
                            "showPercentValues": "1",
                            "showLegend": "1",
                            "legendShadow": "1",
                            "legendBorderAlpha": "1",
                            "centerLabel": "$label: $value",
                            "centerLabelBold": "1",
                            "showTooltip": "0",
                            "decimals": "0",
                            "captionFontSize": "14",
                            "subcaptionFontSize": "14",
                            "subcaptionFontBold": "0"
                        },
                        "data": manufacturerData
                    }
                });

                $("#channelWidth-chart-container").insertFusionCharts({
                    type: 'doughnut2d',
                    renderAt: 'channelWidth-chart-container',
                    width: '700',
                    height: '700',
                    dataFormat: 'json',
                    dataSource: {
                        "chart": {
                            "caption": "Most commonly used channel width",
                            "subCaption": "All data",
                            "usePlotGradientColor": 1,
                            "plotGradientColor": "#ffffff",
                            "bgColor": "#ffffff",
                            "showBorder": "1",
                            "use3DLighting": "0",
                            "showShadow": "0",
                            "enableSmartLabels": "1",
                            "startingAngle": "310",
                            "showLabels": "1",
                            "showPercentValues": "1",
                            "showLegend": "1",
                            "legendShadow": "1",
                            "legendBorderAlpha": "1",
                            "centerLabel": "$label: $value",
                            "centerLabelBold": "1",
                            "showTooltip": "0",
                            "decimals": "0",
                            "captionFontSize": "14",
                            "subcaptionFontSize": "14",
                            "subcaptionFontBold": "0"
                        },
                        "data": channelWidthData
                    }
                });

                $("#frequencies-chart-container").insertFusionCharts({
                    type: 'doughnut2d',
                    renderAt: 'frequencies-chart-container',
                    width: '700',
                    height: '700',
                    dataFormat: 'json',
                    dataSource: {
                        "chart": {
                            "caption": "Most commonly used frequency band",
                            "subCaption": "All data",
                            "usePlotGradientColor": 1,
                            "plotGradientColor": "#ffffff",
                            "bgColor": "#ffffff",
                            "showBorder": "1",
                            "use3DLighting": "0",
                            "showShadow": "0",
                            "enableSmartLabels": "1",
                            "startingAngle": "310",
                            "showLabels": "0",
                            "showPercentValues": "1",
                            "showLegend": "1",
                            "legendShadow": "1",
                            "legendBorderAlpha": "1",
                            "centerLabel": "$label: $value",
                            "centerLabelBold": "1",
                            "showTooltip": "0",
                            "decimals": "0",
                            "captionFontSize": "14",
                            "subcaptionFontSize": "14",
                            "subcaptionFontBold": "0"
                        },
                        "data": frequenciesData
                    }
                });
            });

            

            
    })
    </script>
</body>
</html>