@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title> SmartSniff - Statistics</title>
    <!-- jquery -->
    <script type="text/javascript" src="~/js/jquery-3.1.0.min.js"></script>
    <!-- fusioncharts -->
    <script type="text/javascript" src="~/js/fusioncharts.js"></script>
    <script type="text/javascript" src="~/js/fusioncharts.charts.js"></script>
    <script type="text/javascript" src="~/js/fusioncharts-jquery-plugin.min.js"></script>
    <!-- css stylesheet -->
    <link rel="stylesheet" type="text/css" href="~/css/main.css" />
    <!-- google web font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css" />
    <!-- moment.js -->
    <script type="text/javascript" src="~/js/moment-with-locales.js"></script>
    <!-- daterangepicker css -->
    <link rel="stylesheet" type="text/css" href="~/css/daterangepicker.css" />
    <!-- daterangepicker js -->
    <script type="text/javascript" src="~/js/daterangepicker.js"></script>

    <script type="text/javascript">
        //Global variables
        window.date = "";
        window.isSameDay = false;
    </script>
</head>
<body>
    <div id="navbar-container">
        <ul class="navbar">
            <li class="left"><a>SmartSniff</a></li>
            <li class="right"><a class="active" href="~/home/stats">Statistics</a></li>
            <li class="right"><a href="~/">Heatmap</a></li>
        </ul>
    </div>

    <div id="stats-container">
        <h2 style="text-align: center;">Statistics</h2>
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td>Number of contributing devices</td>
                    <td id="data-contributors"></td>
                </tr>
                <tr>
                    <td>Number of registered sessions</td>
                    <td id="data-sessions"></td>
                </tr>
                <tr>
                    <td>Number of registered locations</td>
                    <td id="data-locations"></td>
                </tr>
                <tr>
                    <td>Number of registered devices</td>
                    <td id="data-devices-total"></td>
                </tr>
                <tr>
                    <td>Number of registered wifi devices (AP)</td>
                    <td id="data-devices-wifi"></td>
                </tr>
                <tr>
                    <td>Number of registered bluetooth devices</td>
                    <td id="data-devices-bluetooth"></td>
                </tr>
            </tbody>
        </table>

        <hr />

        <div id="datepicker">
            <h2 style="text-align: center;">Charts</h2>
            <a id="datepicker-intro">
                The date picker will display charts with data as soon as a time range is selected. In order to select it, please click on the input box below.
            </a>
            <br />
            <br />
            <b id="datepicker-text">Please select a time range</b>
            <input type="text" name="daterange" />
            <script type="text/javascript">
            $(function () {
                $('input[name="daterange"]').daterangepicker({
                    "autoUpdateInput": false,
                    "locale": {
                        "format": "DD/MM/YYYY",
                        "separator": " - ",
                        "applyLabel": "Apply",
                        "cancelLabel": "Cancel",
                        "fromLabel": "From",
                        "toLabel": "To",
                        "customRangeLabel": "Custom",
                        "weekLabel": "W",
                        "daysOfWeek": [
                            "Su",
                            "Mo",
                            "Tu",
                            "We",
                            "Th",
                            "Fr",
                            "Sa"
                        ],
                        "monthNames": [
                            "January",
                            "February",
                            "March",
                            "April",
                            "May",
                            "June",
                            "July",
                            "August",
                            "September",
                            "October",
                            "November",
                            "December"
                        ],
                        "firstDay": 1
                    },
                    "showCustomRangeLabel": false,
                    "alwaysShowCalendars": true
                }, function (start, end, label) {
                    //Apply button pressed

                    //Display check
                    if (!$(".flip-dates").is(":visible")) {
                        $("#datepicker-text").html($("#datepicker-text").html().replace("Please select a time", "Time"));
                        $(".flip-dates").toggle();
                        $(".flip-manufacturer").toggle();
                        $(".flip-channelWidth").toggle();
                        $(".flip-frequencies").toggle();
                        $(".flip-bluetooth").toggle();
                    };

                    // Store the date in window so we can use it later
                    if (start.format("YYYY-MM-DD") == end.format("YYYY-MM-DD")) {
                        window.isSameDay = true;
                    } else {
                        window.isSameDay = false;
                    }
                    window.date = start.toISOString() + "/" + end.toISOString();
                });

                $('input[name="daterange"]').on('apply.daterangepicker', function (ev, picker) {
                    $(this).val(picker.startDate.format('DD/MM/YYYY') + ' - ' + picker.endDate.format('DD/MM/YYYY'));
                });

                $('input[name="daterange"]').on('cancel.daterangepicker', function (ev, picker) {
                    $(this).val('');
                });
            });
            </script>
        </div>

        <div class="flip-dates" style="width: 100%; text-align: center;
    vertical-align: middle;">    
            <button type="button" class="btn btn-lg btn-default custom-button" id="flip-dates-button">Display chart -  Daily devices detected</button>
        </div>
        <div id="dates-chart-container"></div>

        <div class="flip-manufacturer" style="width: 100%;">
            <button type="button" class="btn btn-lg btn-default custom-button" id="flip-manufacturer-button">Display chart -  Found devices by manufacturer</button>
        </div>
        <div id="manufacturer-chart-container"></div>

        <div class="flip-channelWidth" style="width: 100%;">
            <button type="button" class="btn btn-lg btn-default custom-button" id="flip-channelWidth-button">Display chart -  Most commonly used channel width</button>
        </div>
        <div id="channelWidth-chart-container"></div>

        <div class="flip-frequencies" style="width: 100%;">
            <button type="button" class="btn btn-lg btn-default custom-button" id="flip-frequencies-button">Display chart -  Most commonly used frequency band</button>
        </div>
        <div id="frequencies-chart-container"></div>

        <div class="flip-bluetooth" style="width: 100%;">
            <button type="button" class="btn btn-lg btn-default custom-button" id="flip-bluetooth-button">Display chart -  Detected Bluetooth devices by type</button>
        </div>
        <div id="bluetoothSubtypes-chart-container"></div>
    </div>


    <script>
        $(document).ready(function () {
            //Callback function (Chart button)
            var buttonCallback = function (a, chartId) {
                a.preventDefault();

                //Open window with date variable stored in the URL
                switch (chartId) {
                    case "dates-chart":
                        window.open("displaydateschart#" + window.date + "_" + window.isSameDay.toString());
                        break;
                    case "manufacturer-chart":
                        window.open("displaymanufacturerchart#" + window.date + "_" + window.isSameDay.toString());
                        break;
                    case "channelWidth-chart":
                        window.open("displaychannelwidthchart#" + window.date + "_" + window.isSameDay.toString());
                        break;
                    case "frequencies-chart":
                        window.open("displayfrequencieschart#" + window.date + "_" + window.isSameDay.toString());
                        break;
                    case "bluetoothSubtypes-chart":
                        window.open("displaybluetoothchart#" + window.date + "_" + window.isSameDay.toString());
                        break;
                }
            };

            //Chart button callbacks
            $("#flip-dates-button").click(function (a) {
                buttonCallback(a, "dates-chart");
            });

            $("#flip-manufacturer-button").click(function (a) {
                buttonCallback(a, "manufacturer-chart");
            });

            $("#flip-channelWidth-button").click(function (a) {
                buttonCallback(a, "channelWidth-chart");
            });

            $("#flip-frequencies-button").click(function (a) {
                buttonCallback(a, "frequencies-chart");
            });

            $("#flip-bluetooth-button").click(function (a) {
                buttonCallback(a, "bluetoothSubtypes-chart");
            });

            //Table data query
            $.ajax({
                url: '/api/db/gettabledata',
                type: 'GET',
                dataType: "json",
                cache: false //GET requests are cached by browsers
            }).done(function (response) {
                document.getElementById("data-contributors").innerHTML = JSON.stringify(response[0]);
                document.getElementById("data-sessions").innerHTML = JSON.stringify(response[1]);
                document.getElementById("data-locations").innerHTML = JSON.stringify(response[2]);
                document.getElementById("data-devices-total").innerHTML = JSON.stringify(response[3]);
                document.getElementById("data-devices-wifi").innerHTML = JSON.stringify(response[4]);
                document.getElementById("data-devices-bluetooth").innerHTML = JSON.stringify(response[5]);
            });
        });
    </script>
</body>
</html>