body{
    margin: 0px;
    background-color: #DDD1B5;
    font-family: 'Open Sans', sans-serif;
}

html, body, #map-container, #stats-container {
    height: 100%;
}

#map-container, #stats-container {
    margin-top: 50px;
}

#map-title {
    margin-left: auto;
    margin-right: auto;
    width:70%;
}

#map {
    border: 1px solid black;
    height: 75%;
    width: 75%;
}

#datepicker, .flip-dates, .flip-manufacturer, .flip-channelWidth, .flip-frequencies, .flip-bluetooth {
    text-align: center;
    vertical-align: middle;
    margin-top: 7px;
    margin-bottom: 7px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.flip-dates, .flip-manufacturer, .flip-channelWidth, .flip-frequencies, .flip-bluetooth{
    display: none;
}

.custom-button{
    width: 60%;
}

input[type="text"] {
    display: block;
    margin-bottom: 15px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    font-size: 115%;
    text-align: center;
}

#manufacturer-chart-container, #frequencies-chart-container, #dates-chart-container, #channelWidth-chart-container, #bluetoothSubtypes-chart-container {
    display: none;
    width: 900px;
    height: 900px;
}

#map, #manufacturer-chart-container, #frequencies-chart-container, #dates-chart-container, #channelWidth-chart-container, #bluetoothSubtypes-chart-container {
    margin: auto;
}

ul.navbar {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

    ul.navbar li {
        float: left;
    }

        ul.navbar li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        ul.navbar li.right a:hover:not(.active) {
            background-color: #111;
        }

        ul.navbar li a.active {
            background-color: #4CAF50;
        }

        ul.navbar li.left {
            float: left;
        }

        ul.navbar li.right {
            float: right;
        }

#stats-container {
    margin-left: auto;
    margin-right: auto;
}

#manufacturer-chart-container, #channelWidth-chart-container, #frequencies-chart-container,
#dates-chart-container, #bluetoothSubtypes-chart-container {
    border: 10px;
}

hr {
    display: block;
    position: relative;
    padding: 0;
    margin: 8px auto;
    width: 80%;
    height: 5px;
    max-height: 5px;
    font-size: 1px;
    line-height: 5px;
    clear: both;
    border: none;
    border-top: 1px solid #aaaaaa;
    border-bottom: 1px solid #ffffff;
}